<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>view1.html</title>
<script>
	function check() {
		
		let id = document.getElementById('id');
		//id의 길이? id.value.length
		if (id.value === '') {
			alert('id를 입력하세요');
			id.focus();
			return false;
		}
		return true;
	}

</script>
</head>
<body>
	<h1>[GET method로 parameter 전달]</h1>
	<!-- 
	action : 폼을 전송할 서버 쪽 스크립트 파일을 지정
	method : 폼을 서버에 전송할 http 메소드를 정함(GET or POST)
	
	action 경로 http://localhost:8888/param/input1
	
	*id 입력을 강제하는 기능 두가지
	1)html 기능 : required
	2)onsubmit="return 함수명()"   
	-->
	<form action="input1" method="get" onsubmit="return check()">  
		ID<input type="text" name="id" id="id"><br> 
		PW<input type="password" name="pw" id="pw"><br>
		이름<input type="text" name="name"><br>
		전화번호<input type="text" name="phone"><br>
		<input type="radio" name="com" value="kt" checked>KT<br>
		<input type="radio" name="com" value="sk" >SK<br>
		<input type="radio" name="com" value="lg" >LGT<br>
		<input type="submit" value="전송"><br>
	</form>
</body>
</html>