<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>web2</title>
</head>
<body>
	<h1>[ web2 ]</h1>
	
	<ol>
		<li> Lombok & Logger 사용
			<ul>
				<li><a href="lom/lombok">Lombok 사용</a></li>
				<!-- http://localhots:8888/lom/lombok -->
				<li><a href="lom/logger">Logger 사용</a></li>
				</ul>
		</li>	
		<li>서버와 값 주고받기
			<ul>
				<li><a href="param/view1">GET 메소드로 parameter 전달</a></li>
				<li><a href="param/view2">POST 메소드로 parameter 전달</a></li>
				<li><a href="param/model">Model 사용하기</a></li>
			</ul>
		</li>	
		
		<li>예제
			<ul>
				<li><a href="ex/calc1">계산기</a></li>
				<li><a href="ex/calc2">계산기2</a></li>			
			</ul>
		</li>	
		
		<li>세션 사용하기
			<ul>
				<li><a href="ss/session1">세션에 값 저장하기</a></li>
				<li><a href="ss/session2">세션의 값 읽어서 사용하기</a></li>
				<li><a href="ss/session3">세션의 값 삭제</a></li>
				<br>
				<li><a href="ss/login">로그인</a></li>
				<li><a href="ss/logout">로그아웃</a></li>
				<li><a href="ss/loginTest">로그인 해야만 볼 수 있는 페이지</a></li>
			</ul>
		</li>
		
	</ol>

</body>
</html>